html,
body {
    height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.panel-body {
    min-height: 120px;
}
.glyphicon {
    margin-left: 10px;
    line-height: 1;
    display: inline-block;
}